/* Error: expected "{".
 *     ,
 * 423 | >>>>>>> 70e2883047e9944311a84d9ac9681bd8fa1b40ff
 *     |                                                 ^
 *     '
 *   scss/input.scss 423:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 423 \2502  >>>>>>> 70e2883047e9944311a84d9ac9681bd8fa1b40ff\a     \2502                                                  ^\a     \2575 \a   scss/input.scss 423:49  root stylesheet';
}
